<ion-header>
  <ion-toolbar>
    <ion-title class="title">Womens Section</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-row class="a">Clothing <ion-icon name="accessibility-sharp"></ion-icon></ion-row><br>
    <ion-row class="b">Footwear<ion-icon name="footsteps-sharp"></ion-icon></ion-row><br>
    <ion-row class="c">Accessories <ion-icon name="headset-sharp"></ion-icon><ion-icon name="barbell-sharp"></ion-icon></ion-row><br>
    <ion-row class="d">Skincare<ion-icon name="heart-sharp"></ion-icon></ion-row><br>
    <ion-row class="e">Fragrance<ion-icon name="flask-sharp"></ion-icon></ion-row><br>
    <ion-row class="f">Health & Wellness<ion-icon name="medkit-sharp"></ion-icon></ion-row>
  </ion-grid>
</ion-content>
