
    

.toolbar{
    background-color: rgb(13, 151, 121);
    text-align: center;
    color: beige;
    font-size: larger;
}

.div{
    position: relative;
    text-align: center;
    font-size: larger;
    padding-top: 250px;

    
    
}