 <ion-header>
  <ion-toolbar >
    <ion-buttons  >
      <ion-back-button color="dark"> </ion-back-button>
    </ion-buttons>
    <ion-title>    </ion-title>
  </ion-toolbar>
</ion-header>
   <ion-content>
  
    <ion-list id="open-modal" >
     
 
 

      <ion-item *ngFor="let item of UserData " >
         
        <ion-label (click)="confirm(item)">
          
          <h2>{{item.name}}</h2>
          <h3> {{item.id}}</h3>
          <p></p>
        
         </ion-label>
         
      </ion-item>
    
    </ion-list>



<!-- 
     <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding" *ngFor="let User of UserData ; let i=index" >
        
          <ion-label (click)="setOpen(true)">
          
            <h2>{{User.name}}</h2>
            <h3> {{User.id}}</h3>
            <p></p>
          
           </ion-label>
        </ion-content>
      </ng-template>
    </ion-modal>   -->

<ion-modal #modal trigger="open-modal" *ngIf="UserData.length !=0" >
  <ng-template><ion-toolbar><ion-button (click)="cancel()">back</ion-button></ion-toolbar>
    <ion-content >

<div *ngFor="let item of UserData " (click)="confirm(item)">
<h2>{{item.name }}</h2>
<h3> {{item.id}}</h3> </div>
    </ion-content>
  </ng-template>
</ion-modal>







  </ion-content>
  

