
.a{
    background-color: rgb(4, 2, 20);
   
    border-style: dashed;
    text-align:justify;
    color: beige;
    font-size: 30px;
   
}
.b{
    background-color: rgb(101, 86, 214);
   
    border-style: dashed;
    text-align:justify;
    color: beige;
    font-size: 30px;
   
}

.c{
    background-color: rgb(4, 2, 20);
   
    border-style: dashed;
    text-align:justify;
    color: beige;
    font-size: 30px;
   
}
.d{
    background-color: rgb(101, 86, 214);
    
    border-style: dashed;
    text-align:justify;
    color: beige;
    font-size: 30px;
   
}
.e{
    background-color: rgb(4, 2, 20);
   
    border-style: dashed;
    text-align:center;
    color: beige;
    font-size: 30px;
   
}

.ok{
    
    text-align: center;
    
}
.container{
    background-color: rgb(169, 238, 238);
    padding-top: 30px;
    
}
.title{
    
    color: palevioletred;
    text-align: center;
 
}
.iont{
    background-color: rgb(12, 12, 51);
    font-size: 30px;
}