<ion-header ><ion-toolbar class="title">
    <ion-title  class="iont">MY ACCOUNT</ion-title>
</ion-toolbar>
</ion-header>

<ion-content >
    
    <div class="container"><div class="img">
<img class=" pro"src="./assets/images/x.jpg"></div>
<ion-grid class="ok">
    <ion-row class="a "> <ion-icon name="person-sharp"  ></ion-icon> Shivani Borkar </ion-row>
<br><br>
    <ion-row class="b"><ion-icon name="storefront-sharp"></ion-icon>Shipping Address</ion-row>
    <br><br>
    <ion-row class="c"><ion-icon name="logo-paypal"></ion-icon>My Payments</ion-row><br><br>
    <ion-row class="d"><ion-icon name="gift-sharp"></ion-icon>Refer & Earn</ion-row><br><br>
    <ion-row class="e"><ion-icon name="settings-sharp"></ion-icon>Seetings</ion-row><br><br>
</ion-grid>
</div>
</ion-content>