<ion-content class="content">

  <div class="log">
    <div class="form">


      <ion-card class="card">

        <ion-card-header>
          <ion-card-title expand="full" class="cardtitle">
            SALAHOME
          </ion-card-title>
        </ion-card-header>
        <ion-input placeholder="Enter Email" class="ion-text-start">
          <ion-icon name="mail-unread-sharp" slot="end"></ion-icon>
        </ion-input><br>
        <ion-input placeholder="Enter Password" class="ion-text-start">
          <ion-icon name="key-sharp" slot="end"></ion-icon>
        </ion-input><br>
        <ion-button expand="full" class="login" color="success"  routerLink="/demo">LOG IN</ion-button>
        <a routerLink="/forp" id="open-modal" class="btn-btn-link ">Forgot Password</a>
        <br><br><br>

      </ion-card>
    </div>
    <img class="main" expand="full" src="./assets/images/bg.jpg">
    <br><br>
    <ion-lebal class="line">-------------- Loging With --------------</ion-lebal><br><br><br>

    <div class="btn-group">
      <a href="https://www.facebook.com/" class="btn btn-default">
        <ion-icon class="feb" name="logo-facebook"></ion-icon>
      </a>



      <a href="https://www.gmail.com/" class="btn btn-default">
        <ion-icon class="gol" name="logo-google"></ion-icon>
      </a>
      <a href="https://www.twitter.com/" class="btn btn-default">
        <ion-icon class="twt" name="logo-twitter"></ion-icon>
      </a>
    </div>
  </div>
  <div class="container">
    <ion-button expand="full" class="login" routerLink="/singup">SING UP</ion-button>
  </div>



</ion-content>