<ion-content>
 
  <ion-card class="card">
    <div>
      <ion-card-header>
        <ion-card-title expand="full" class="cardtitle">
          SALAHOME
        </ion-card-title>
      </ion-card-header>
      <ion-input placeholder="Enter Name" class="ion-text-start">
       </ion-input><br>

       <ion-input placeholder="Enter DOB" class="ion-text-start">
      </ion-input><br>

      <ion-input placeholder="Enter Contact No" class="ion-text-start">
      </ion-input><br>

      <ion-input placeholder="Enter Email" class="ion-text-start">
      </ion-input><br>

      <ion-input placeholder="Enter Gendar" class="ion-text-start">
      </ion-input><br>

      <ion-input placeholder="Enter role" class="ion-text-start">
      </ion-input><br>

      <ion-input placeholder="Enter Password" class="ion-text-start">

      </ion-input><br>
      <ion-button expand="full" class="login" routerLink="/demo">LOG IN</ion-button>


  
  </div>
  
  </ion-card>
  <img class="main" expand="full" src="./assets/images/bg.jpg">
</ion-content>