<ion-header>
  <ion-toolbar>
    <ion-title class="title">Appliance Section</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-row class="a">Kitchen  <ion-icon name="basket-sharp"></ion-icon><ion-icon name="beer-sharp"></ion-icon></ion-row><br>
    <ion-row class="b"> Home Decor <ion-icon name="home-sharp"></ion-icon><ion-icon name="sparkles-sharp"></ion-icon></ion-row><br>
    <ion-row class="c"> Electronics <ion-icon name="desktop-sharp"></ion-icon><ion-icon name="easel-sharp"></ion-icon></ion-row><br>
    <ion-row class="d">Sport & Book <ion-icon name="game-controller-sharp"></ion-icon><ion-icon name="logo-firebase"></ion-icon></ion-row><br>
    <ion-row class="e">Pet Supplies <ion-icon name="paw-sharp"></ion-icon> <ion-icon name="fish-sharp"></ion-icon></ion-row><br>
    <ion-row class="f"> Food & Grocery<ion-icon name="fast-food-sharp"></ion-icon><ion-icon name="restaurant-sharp"></ion-icon></ion-row>
  </ion-grid>
</ion-content>
