<ion-content>


    <ion-card class="card">
      <ion-card-title class="title">Fransalon</ion-card-title>
      <br>
      <ion-label>Email</ion-label>
      <ion-input type="email" placeholder="email@email.com"></ion-input>
      



  
        <ion-label>Password </ion-label>
        <ion-input type="password" value="password"></ion-input>
        



      <ion-button color="Secondary" expand="full" class="button1">LOG IN
      </ion-button>
      <div class="link"><a routerLink="/forp" id="open-modal" class="btn-btn-link ">Forgot Password</a></div>
    </ion-card>


  <img class="images" src="./assets/images/ok.jpg">

</ion-content>