.images{
  height: 100%;
  width: 100%;

}

.card{
  position:absolute;
 padding-left: 10%;
 padding-right: 10%;
background: none;
  
  
  font-size: 20px;
  margin-top: 100%;
  margin-right: 8%;
  margin-left: 5%;
}

.button1{
  margin-left: 0px;
  font-size: large;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
border-radius: 20px;
background-color:rgb(15, 15, 15);
margin-top: 10%;
margin-bottom: 10%;


}

.title{
  font-size: 50px;
  font-family: serif;
  font-weight: bold;
  text-shadow: rgb(68, 67, 67);
  color:rgb(14, 13, 13) ;
  text-align: center;
}

.btn-btn-link{
  color:black;
  
}
.link{
  padding-left: 30%;
  padding-bottom: 10%;
}


