
<ion-content ><div class="log">
 
 <div class="container">  
    <ion-header>
        <ion-toolbar >
            <ion-title class="toolbar">WLLCOME TO SHOPEE</ion-title>
        </ion-toolbar>
    </ion-header>
    
      <ion-card class="card">
        <img src="./assets/images/j.jpg">
        <ion-card-header>
      <ion-card-title expand="full" class="reg">
        REGISTRATION 
    </ion-card-title></ion-card-header>
        <ion-input  placeholder="Enter Email" class="ion-text-start"><ion-icon name="mail-unread-sharp" slot="end"></ion-icon></ion-input>
       <ion-input placeholder="Enter Password" class="ion-text-start"><ion-icon name="key-sharp" slot="end"></ion-icon></ion-input>
        <ion-button expand="full" class="ion-margin-horizontal"  routerLink="/demo">Sign Up</ion-button>
      
      </ion-card>
      <img class="img" src="./assets/images/l.jpg">
      </div></div>
  </ion-content>



 